<div class="sidebar">
    <div class="sidebar-header">
        <h3>.NET POS</h3>
        <h4 class="mt-3">
            <i class="fa-solid fa-user mr-1"></i>
            {{ user }} : {{ level }}
        </h4>
        <div class="mt-3 flex gap-3">
            <button class="btn-signout" (click)="signOut()">
                <i class="fa-solid fa-right-from-bracket mr-2"></i>
                Sign Out
            </button>
            <a class="btn-edit-profile" routerLink="/backoffice/change-profile">
                <i class="fa-solid fa-user-pen mr-2"></i>
                แก้ไข
            </a>
        </div>
    </div>
    <div class="sidebar-menu">
        <div class="menu-item">
            <i class="fa-solid fa-gauge mr-2"></i>
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-cart-shopping mr-2"></i>
            <span>ขายสินค้า</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-warehouse mr-2"></i>
            <span>สต้อกสินค้า</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-file-invoice mr-2"></i>
            <span>รายงาน สต้อกคงเหลือ</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-file-invoice-dollar mr-2"></i>
            <span>รายงานรายได้</span>
        </div>
        <div class="menu-item">
            <a routerLink="/backoffice/book">
                <i class="fa-solid fa-book mr-2"></i>
                <span>หนังสือ</span>
            </a>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-user mr-2"></i>
            <span>ผู้ใช้งานระบบ</span>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-store mr-2"></i>
            <span>ข้อมูลร้าน</span>
        </div>
    </div>
</div>
